provider:
  id: "default"

  static:
    type: "gtfs_static_zip"
    url: "${GTFS_STATIC_URL}"
    out_dir: "dataset/static"
    filename: "gtfs_static.zip"
    timeout_s: 60
    verify_tls: true
    extract:
      files:
        - "agency.txt"
        - "stops.txt"
        - "routes.txt"
        - "trips.txt"
        - "stop_times.txt"
        - "calendar.txt"
        - "calendar_dates.txt"
        - "shapes.txt"
        - "route_patterns.txt"
        - "directions.txt"
        - "transfers.txt"
        - "pathways.txt"
        - "levels.txt"
        - "stop_areas.txt"
        - "areas.txt"
        - "timeframes.txt"
        - "lines.txt"
  realtime:
    type: "gtfs_realtime"
    out_dir: "dataset/realtime"
    timeout_s: 60
    verify_tls: true

    auth:
      mode: "none"        # none|header|query
      env_var: "GTFS_RT_KEY"
      header_name: "x-api-key"
      query_param: "api_key"

    endpoints:
      - name: "vehicle_positions"
        url: "${GTFS_RT_VEHICLE_POSITIONS_URL}"
        format: "protobuf"
        filename: "vehicle_positions.pb"

      - name: "trip_updates"
        url: "${GTFS_RT_TRIP_UPDATES_URL}"
        format: "protobuf"
        filename: "trip_updates.pb"

      - name: "alerts"
        url: "${GTFS_RT_ALERTS_URL}"
        format: "protobuf"
        filename: "alerts.pb"
